body {
    background-color: #000077;
    color:white;
}

.container-fluid {
	text-align:center;
}

.picture {
	height:200px;
	width:200px;
}

.staging {
	height:300px;
}

.row {
	margin-bottom:10px;
}

.sub-row {
	margin-top:100px;
	margin-bottom:25px;
}

.portrait {
	position: relative;
	margin-top: 25px;
}

.name {
	position: absolute;
	top: -20px;
	text-align:center;
	width:100%;
}

.health {
	position: absolute;
	bottom: -40px;
	text-align:center;
	width:100%;
}


.title {
	zoom:75%;
}

.footer {
	margin-top:100px;
}